body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: black;
}

.bg-image {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-image: url('./assets/background-images/index-page/index-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 7.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;    
}

header i {
  color: #ffffff;
}
  
header nav {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
header nav .logo {
  color: #ffffff;
  font-size: 1.625rem;
  text-decoration: none;
}
  
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  gap: 3rem;
  list-style: none;
}

header nav ul li {
  margin: 4px;
  padding: 10px;
}
  
header nav ul li a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #f2d5a0;
}

header nav ul li .active {
  color: #f2d5a0;
}

header .icons {
  display: flex;
  gap: 1rem;
  padding-left: 3rem;
}

header .icons i,
header nav .responsive-icons {
  color: #ffffff;
  font-size: 1.2rem;
}

header nav .responsive-icons {
  display: none;
}

header nav .checkBtn {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
  
header nav #check {
  display: none;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

main article {
  height: 35.5rem;
  width: 88%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

main article h1 {
  font-size: 3.75rem;
  color: #ffffff;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  line-height: 7rem;
}

main article h3 {
  font-size: 1.375rem;
  color: #ffffff;
  letter-spacing: 0.6em;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

footer {
  height: 5.4375rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 0px;
}

footer div {
  width: 88%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer div p {
  font-size: 0.875rem;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

footer div p a {
  color: #ffffff;
}

#portfolio {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 3rem;
}

#portfolio article {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

#portfolio article h1 {
  color: #ffffff;
  font-size: 2.625rem;
}

#portfolio .gallery {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio .gallery .left {
  height: 29.75rem;
  width: 100%;
  background-image: url('./assets/background-images/portfolio/portraits/portraits.jpg');
  background-size: cover;
  background-position: center;
}

#portfolio .gallery .left:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/background-images/portfolio/portraits/portraits.jpg');
}

#portfolio .gallery .middle {
  height: 29.75rem;
  width: 100%;
  background-image: url('./assets/background-images/portfolio/places/places.jpg');
  background-size: cover;
  background-position: center;
}

#portfolio .gallery .middle:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/background-images/portfolio/places/places.jpg');
}

#portfolio .gallery .right {
  height: 29.75rem;
  width: 100%;
  background-image: url('./assets/background-images/portfolio/fashion/fashion.jpg');
  background-size: cover;
  background-position: center;
}

#portfolio .gallery .right:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/background-images/portfolio/fashion/fashion.jpg');
}

#portfolio .gallery div h1 {
  font-size: 2rem;
  color: #ffffff;
}

#portfolio .gallery a {
  text-decoration: none;
}

#portfolio .gallery .img {
  overflow: hidden;
}

#portfolio .gallery a {
  transition: transform .8s ease;
}

#portfolio .gallery .img:hover a {
  transform: scale(1.15);
}

#about {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 8rem;
}

#about .top {
  margin-top: 3rem;
  height: 100%;
  width: 88%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#about .top .left div {
  height: 100%;
  width: 25rem;
}

#about section div h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0px 0px 3rem;
  padding: 0px;
}

#about section div p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  margin: 0px 0px 3rem;
  padding: 0px;
}

#about .top .right {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

#about .top .right .bg-img {
  height: 27.188rem;
  width: 18.188rem;
  background-image: url('./assets/background-images/about/about.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#about .bottom {
  height: 100%;
  width: 88%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#about .bottom .left div {
  height: 100%;
  width: 29rem;
}

#about .bottom .left div h1 {
  margin-bottom: 8rem;
}

#about .bottom .left div p {
  width: 25rem;
}

#about .bottom .right {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#about .bottom .right div:nth-child(1) {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background-images/about/remake.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about .bottom .right div:nth-child(2) {
  height: 100%;
  width: 100%;
  background-image: url('./assets/background-images/about/tree.png');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about .bottom .right div:nth-child(3) {
  height: 100%;
  width: 100%;
  background-image: url('./assets/background-images/about/esther.png');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about .bottom .right div:nth-child(4) {
  height: 100%;
  width: 100%;
  background-image: url('./assets/background-images/about/ex-gravity.png');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#about .bottom .right div:nth-child(5) {
  height: 100%;
  width: 100%;
  background-image: url('./assets/background-images/about/manning-powel.png');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#albums {
  height: 100%;
  width: 100%;
  row-gap: 5rem;
}

#albums article {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#albums article h1 {
  color: #ffffff;
  font-size: 3.75rem;
}

#albums .gallery {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

#albums .gallery .img .left {
  height: 15.563rem;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/background-images/albums/summer-colors/summer-colors.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#albums .gallery .img .middle {
  height: 19.063rem;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/background-images/albums/folkestone-portraits-of-a-community/folkestone-portraits-of-a-community.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#albums .gallery .img .right {
  height: 15.563rem;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/background-images/albums/journey-to-macau/journey-to-macau.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#albums .gallery .img .left:hover {
  background-image: url('./assets/background-images/albums/summer-colors/summer-colors.jpg');
}

#albums .gallery .img .middle:hover {
  background-image: url('./assets/background-images/albums/folkestone-portraits-of-a-community/folkestone-portraits-of-a-community.jpg');
}

#albums .gallery .img .right:hover {
  background-image: url('./assets/background-images/albums/journey-to-macau/journey-to-macau.jpg');
}

#albums .gallery .img div {
  width: 80%;
}

#albums .gallery h1 {
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}

#albums .gallery .img a {
  text-decoration: none;
}

#albums .gallery .img a:hover div {
  display: none;
}

#contact {
  height: 100%;
  width: 100%;
}

#contact section {
  height: 100%;
  width: 88%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
}

#contact section .left div {
  height: 100%;
  max-width: 14.125rem;
}

#contact section .left h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}


#contact section .left h6,
#contact section .left p,
#contact section .left p a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

#contact section .left h6 {
  margin: 3rem 0px;
}

#contact section .left p a {
  text-decoration: none;
}

#contact section .right label {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
}

#contact section .right div {
  display: inline-block;
  margin: 1rem;
}

#contact section .right input,
#contact section .right textarea,
#contact section .right button {
  background-color: transparent;
}

#contact section .right input,
#contact section .right textarea {
  border: 0px;
  border-bottom: 2px solid white;
}

#contact section .right input,
#contact section .right textarea {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
}

#contact section .right input:hover,
#contact section .right textarea:hover {
  border: 2px solid white;
}

#contact section .right button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
}

#contact section .right button {
  width: 9.375rem;
  height: 2.625rem;
  border: 1px solid white;
  float: right;
  margin-top: 1rem;
}

#contact section .right button:hover {
  background-color: #ffffff;
}

#contact section .right button:hover a {
  color: black;
}

#portraits article {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
}

#portraits .portraits-gallery {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 3rem;
}

#portraits .portraits-gallery .left,
#portraits .portraits-gallery .right {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  height: 100%;
  width: 100%;
}

#portraits .portraits-gallery .left div:nth-child(1) {
  height: 14.125rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/portraits/left-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#portraits .portraits-gallery .left div:nth-child(2) {
  height: 34.25rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/portraits/left-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#portraits .portraits-gallery .left div:nth-child(3) {
  height: 17rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/portraits/portraits.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#portraits .portraits-gallery .left div:nth-child(4) {
  height: 17rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/portraits/left-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#portraits .portraits-gallery .right div:nth-child(1) {
  height: 32.125rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/portraits/right-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#portraits .portraits-gallery .right div:nth-child(2) {
  height: 16.938rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/portraits/right-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#portraits .portraits-gallery .right div:nth-child(3) {
  height: 38.188rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/portraits/right-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#places article {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
}

#places .places-gallery {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 3rem;
}

#places .places-gallery .left,
#places .places-gallery .right {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  height: 100%;
  width: 100%;
}

#places .places-gallery .left div:nth-child(1) {
  height: 25rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/places/left-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#places .places-gallery .left div:nth-child(2) {
  height: 22.188rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/places/left-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#places .places-gallery .left div:nth-child(3) {
  height: 49.938rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/places/left-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#places .places-gallery .right div:nth-child(1) {
  height: 22.25rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/places/places.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#places .places-gallery .right div:nth-child(2) {
  height: 49.938rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/places/right-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#places .places-gallery .right div:nth-child(3) {
  height: 44.438rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/places/right-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fashion article {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
}

#fashion .fashion-gallery {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 3rem;
}

#fashion .fashion-gallery .left,
#fashion .fashion-gallery .right {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}

#fashion .fashion-gallery .left div:nth-child(1) {
  height: 50.063rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/fashion/fashion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fashion .fashion-gallery .left div:nth-child(2) {
  height: 41.625rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/fashion/left-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fashion .fashion-gallery .left div:nth-child(3) {
  height: 49.938rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/fashion/left-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fashion .fashion-gallery .right div:nth-child(1) {
  height: 50rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/fashion/right-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fashion .fashion-gallery .right div:nth-child(2) {
  height: 50rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/fashion/right-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fashion .fashion-gallery .right div:nth-child(3) {
  height: 50rem;
  width: 100%;
  background-image: url(./assets/background-images/portfolio/fashion/right-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#summer-colors article {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

#summer-colors .summer-colors-gallery {
  width: 90%;
  height: 100%;
  display: grid;
  justify-items: center;
  gap: 3rem;
}

#summer-colors .summer-colors-gallery .top {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 3rem;
}

#summer-colors .summer-colors-gallery .middle {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3rem;
}

#summer-colors .summer-colors-gallery .bottom {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#summer-colors .summer-colors-gallery .top div:nth-child(1) {
  height: 22.063rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/summer-colors/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#summer-colors .summer-colors-gallery .top div:nth-child(2) {
  height: 22.063rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/summer-colors/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#summer-colors .summer-colors-gallery .top div:nth-child(3) {
  height: 22.063rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/summer-colors/summer-colors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#summer-colors .summer-colors-gallery .middle div:nth-child(1) {
  height: 32.313rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/summer-colors/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#summer-colors .summer-colors-gallery .middle div:nth-child(2) {
  height: 32.313rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/summer-colors/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#summer-colors .summer-colors-gallery .middle div:nth-child(3) {
  height: 32.313rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/summer-colors/6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#summer-colors .summer-colors-gallery .bottom div:nth-child(1) {
  height: 34.375rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/summer-colors/7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#folkestone article {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

#folkestone .folkestone-gallery {
  width: 90%;
  height: 100%;
  display: grid;
  justify-items: center;
  gap: 3rem;
}

#folkestone .folkestone-gallery .first {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 3rem;
}

#folkestone .folkestone-gallery .second,
#folkestone .folkestone-gallery .fourth {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#folkestone .folkestone-gallery .third {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3rem;
}

#folkestone .folkestone-gallery .first div:nth-child(1) {
  height: 31.875rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/folkestone-portraits-of-a-community/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#folkestone .folkestone-gallery .first div:nth-child(2) {
  height: 31.875rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/folkestone-portraits-of-a-community/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#folkestone .folkestone-gallery .second div:nth-child(1) {
  height: 49.25rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/folkestone-portraits-of-a-community/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#folkestone .folkestone-gallery .third div:nth-child(1) {
  height: 52.125rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/folkestone-portraits-of-a-community/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#folkestone .folkestone-gallery .third div:nth-child(2) {
  height: 52.125rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/folkestone-portraits-of-a-community/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#folkestone .folkestone-gallery .fourth div:nth-child(1) {
  height: 60.875rem;
  width: 100%;
  background-image: url(./assets/background-images/albums/folkestone-portraits-of-a-community/folkestone-portraits-of-a-community.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#macau article {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

#macau .macau-gallery {
  width: 90%;
  height: 100%;
  display: grid;
  justify-items: center;
  gap: 3rem;
}

#macau .macau-gallery .top,
#macau .macau-gallery .bottom {
  height: 32.688rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 3rem;
}

#macau .macau-gallery .middle {
  height: 32.688rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3rem;
}

#macau .macau-gallery .top div:nth-child(1) {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background-images/albums/journey-to-macau/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#macau .macau-gallery .top div:nth-child(2) {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background-images/albums/journey-to-macau/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#macau .macau-gallery .middle div:nth-child(1) {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background-images/albums/journey-to-macau/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#macau .macau-gallery .middle div:nth-child(2) {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background-images/albums/journey-to-macau/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#macau .macau-gallery .bottom div:nth-child(1) {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background-images/albums/journey-to-macau/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#macau .macau-gallery .bottom div:nth-child(2) {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background-images/albums/journey-to-macau/journey-to-macau.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
